p{
    text-indent: 50px;
}

main {
    background: gray;
}

.font1 {
    font-family: serif;
}

.font2 {
    font-family: sans-serif;
}

.font3 {
    font-family: monospace;
}

.font4 {
    font-family: cursive;
    font-size: 20px;
}

.font5 {
    font-family: fantasy;
    font-weight: bolder;
}


footer {
    margin-top: 50px;
}